html
    head
        title Hello from gulp! Works ?
        link(rel="stylesheet", href="css/main.css")
    body
        h1 We used gulp to generate this! Autoload ? Yes
        p It seems like it's working! With autoload ? Hello again!!
    footer
        script( src='js/bundle.js' )
